@import '../../sass/normalize6.0.scss';
@import '../../sass/base.scss';
@function p2r($size) {
    @return ($size/41.4*1rem)
}

;
html,
body,
.dl_mmm {
    height: 100%;
    font-size: p2r(16);
}

// 头部
.dl_header {
    height: p2r(51);
    background: $bgc;
    padding-left: p2r(5);
    .dl_index_logo {
        padding: p2r(12);
        a {
            display: block;
            width: p2r(186);
            height: p2r(25);
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .dl_downlod {
        width: p2r(50);
        height: 100%;
        a {
            display: block;
            width: p2r(50);
            height: 100%;
            text-decoration: none;
            background: url('../images/header_app.png') no-repeat center center/p2r(34) p2r(34);
        }
    }
}

.dl_mmm {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .topSearch {
        height: p2r(100);
    } // 最外面的容器 dl_brand
    .dl_brand {
        background: #eee;
        flex: 1;
        display: flex;
        flex-direction: column;
        .dl_top {
            height: p2r(96); // 导航部分
            .dl_nav {
                border-top: 1px solid #ebebeb;
                border-bottom: 1px solid #ccc;
                padding-left: p2r(3);
                height: p2r(36);
                line-height: p2r(36);
                background: linear-gradient(top, #fff, #ebebeb);
                a {
                    font-size: p2r(14);
                    color: #5a5a5a;
                    padding: p2r(5);
                }
            } // 热门品牌排行
            .dl_title {
                height: p2r(60);
                padding: p2r(10) p2r(5);
                background: #eee;
                h2 {
                    margin: 0;
                    padding-left: p2r(10);
                    height: p2r(40);
                    line-height: p2r(40);
                    font-size: 16px;
                    color: #874604;
                    border: 1px solid #ccc;
                }
            }
        } // 主体部分
        .dl_main {
            flex: 1;
            width: 100%;
            overflow: hidden; //  内容
            .dl_content {
                ul {
                    width: 100%;
                    padding: 0 p2r(10);
                    height: auto;
                    .dl_col {
                        height: p2r(40);
                        line-height: p2r(40);
                        a {
                            text-decoration: none;
                            display: block;
                            width: 100%;
                            height: 100%;
                            color: #000;
                            font-size: p2r(16);
                            font-weight: bold;
                            border-bottom: 1px solid #ccc;
                            background: url("http://www.zuyushop.com/wap/images/arrow1.gif") right center no-repeat;
                        }
                    }
                }
            }
        }
    }
}

//  底部 通用  样式
.xx_nav {
    width: 100%;
    height: p2r(46);
    background-color: #ebebeb;
    padding-top: p2r(20);
    .nav {
        height: p2r(40);
        font-size: p2r(14);
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        padding: 0 p2r(10);
        background-image: linear-gradient(to bottom, white, #eee);
        a {
            line-height: p2r(40);
            color: black;
        }
    }
}

//  广告   
.xx_ad {
    width: 100%;
    height: p2r(84);
    display: flex;
    background-color: #434343;
    padding: p2r(10)p2r(10);
    margin-top: p2r(16);
    .xx_man {
        width: p2r(64);
        height: p2r(64);
        img {
            width: 100%;
            height: 100%;
        }
    }
    .xx_right {
        flex: 1;
        position: relative;
        padding-top: p2r(2);
        padding-left: p2r(10);
        h3 {
            width: 100%;
            font-size: p2r(18);
            float: left;
            color: white;
        }
        .xx_open {
            width: p2r(80);
            height: p2r(28);
            font-size: p2r(16);
            background-color: #6db110;
            text-align: center;
            line-height: p2r(28);
            border-radius: p2r(4);
            position: absolute;
            right: p2r(2);
            top: p2r(2);
            a {
                color: white;
                z-index: 998;
            }
        }
        p {
            font-size: p2r(16);
            color: #fee6c2;
            padding-top: p2r(30);
        }
    }
}

.xx_foor {
    width: 100%;
    height: p2r(96);
    padding-top: p2r(2);
    background-color: #EFEFEF;
    .foor_top {
        width: 100%;
        height: p2r(34);
        display: flex;
        border-top: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
        a {
            height: p2r(34);
            line-height: p2r(34);
            flex: 1;
            font-size: p2r(14);
            color: black;
            text-align: center;
        }
        a:nth-child(2) {
            border-left: 1px solid #c4c4c4;
            border-right: 1px solid #c4c4c4;
        }
    }
    .foor_bottom_A {
        font-size: p2r(12);
        text-align: center;
        padding: p2r(10)0 0 p2r(5);
        a {
            font-size: p2r(12);
            color: black;
        }
        .xx_download {
            color: #FF0000;
        }
    }
    .foor_bottom_B {
        font-size: p2r(12);
        text-align: center;
        a {
            color: black;
        }
    }
}