* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  line-height: 0;
  height: 0;
  clear: both;
}

input {
  -webkit-tap-highlight-color: transparent;
  border: none;
}

.bdp {
  border-top: 1px solid #666666;
}

.bdl {
  border-left: 1px solid #666666;
}

.bdr {
  border-right: 1px solid #666666;
}

.bdb {
  border-bottom: 1px solid #666666;
}

.bdcW {
  border-color: white;
}

body {
  background-color: #ffffff;
  height: auto;
  overflow: scroll;
}

.sxk_Header_Box {
  width: 100%;
  height: 1.0628rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  background-color: #ff841d;
}
.sxk_Header_Box .goBack a {
  display: block;
  width: 1.20773rem;
  height: 1.0628rem;
  font-size: 0.5314rem;
  text-align: center;
  color: #fff;
}
.sxk_Header_Box .goBack a i {
  line-height: 1.0628rem;
}
.sxk_Header_Box .top-Title h1 {
  color: #fff;
  text-align: center;
  line-height: 1.0628rem;
  font-size: 0.48309rem;
  padding: 0;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.sxk_Header_Box .download-App {
  padding-right: 0.48309rem;
}
.sxk_Header_Box .download-App a {
  display: block;
  width: 1.20773rem;
  height: 1.0628rem;
  background-image: url("../images/header_app.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 0.96618rem 0.82126rem;
}

.content {
  overflow: scroll;
}
.content ul li {
  width: 100%;
  height: auto;
  padding: 0.33816rem 0.19324rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.content ul li div.img {
  width: 2.41546rem;
  height: 2.41546rem;
}
.content ul li div.img img {
  width: 2.41546rem;
  height: 2.41546rem;
}
.content ul li .right_Content {
  position: relative;
}
.content ul li .right_Content .title {
  font-family: 'Microsoft YaHei';
}
.content ul li .right_Content .title span {
  color: #ff6c00;
  margin-left: 5px;
}
.content ul li .right_Content .title a {
  color: black;
}
.content ul li .right_Content .title a p {
  font-size: 0.33816rem;
}
.content ul li .right_Content .info {
  color: #a1a1a1;
  font-size: 0.28986rem;
  margin-top: 0.84541rem;
}
.content ul li .right_Content .info .pinglun {
  position: absolute;
  right: 0.48309rem;
}

.btnBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
  height: 0.7971rem;
  line-height: 0.7971rem;
}
.btnBox div a {
  display: block;
  width: 2.41546rem;
  height: 0.7971rem;
  text-align: center;
  color: black;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  background-color: #f1f1f1;
}
.btnBox div.showPage select {
  width: 2.41546rem;
  height: 0.77295rem;
  border: 1px solid #c0c0c0;
  text-align: center;
  outline: none;
}
.btnBox div.showPage select option {
  display: block;
  width: 2.41546rem;
  height: 0.77295rem;
  padding-left: 0.96618rem;
  background-color: ghostwhite;
  text-align: center;
}

.xx_nav {
  width: 100%;
  height: 1.11111rem;
  background-color: #ebebeb;
  padding-top: 0.48309rem;
}
.xx_nav .nav {
  height: 0.96618rem;
  font-size: 0.33816rem;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 0 0.24155rem;
  background-image: -webkit-linear-gradient(top, white, #eee);
  background-image: linear-gradient(to bottom, white, #eee);
}
.xx_nav .nav a {
  line-height: 0.96618rem;
  color: black;
}

.xx_ad {
  width: 100%;
  height: 2.02899rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #434343;
  padding: 0.24155rem 0.24155rem;
  margin-top: 0.38647rem;
}
.xx_ad .xx_man {
  width: 1.54589rem;
  height: 1.54589rem;
}
.xx_ad .xx_man img {
  width: 100%;
  height: 100%;
}
.xx_ad .xx_right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  padding-top: 0.04831rem;
  padding-left: 0.24155rem;
}
.xx_ad .xx_right h3 {
  width: 100%;
  font-size: 0.43478rem;
  float: left;
  color: white;
}
.xx_ad .xx_right .xx_open {
  width: 1.93237rem;
  height: 0.67633rem;
  font-size: 0.38647rem;
  background-color: #6db110;
  text-align: center;
  line-height: 0.67633rem;
  border-radius: 0.09662rem;
  position: absolute;
  right: 0.04831rem;
  top: 0.04831rem;
}
.xx_ad .xx_right .xx_open a {
  color: white;
  z-index: 998;
}
.xx_ad .xx_right p {
  font-size: 0.38647rem;
  color: #fee6c2;
  padding-top: 0.72464rem;
}

.xx_foor {
  width: 100%;
  height: 2.31884rem;
  padding-top: 0.04831rem;
  background-color: #EFEFEF;
}
.xx_foor .foor_top {
  width: 100%;
  height: 0.82126rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.xx_foor .foor_top a {
  height: 0.82126rem;
  line-height: 0.82126rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.33816rem;
  color: black;
  text-align: center;
}
.xx_foor .foor_top a:nth-child(2) {
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
}
.xx_foor .foor_bottom_A {
  font-size: 0.28986rem;
  text-align: center;
  padding: 0.24155rem 0 0 0.12077rem;
}
.xx_foor .foor_bottom_A a {
  font-size: 0.28986rem;
  color: black;
}
.xx_foor .foor_bottom_A .xx_download {
  color: #FF0000;
}
.xx_foor .foor_bottom_B {
  font-size: 0.28986rem;
  text-align: center;
}
.xx_foor .foor_bottom_B a {
  color: black;
}
