* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, dl {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::before, .clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

input {
  border: none;
  outline: none;
}

body {
  background: #dedede;
}

.bdt {
  border-top: 1px solid black;
}

.bdb {
  border-bottom: 1px solid black;
}

.bdl {
  border-left: 1px solid black;
}

.bdr {
  border-right: 1px solid black;
}

.bdw {
  border-color: white;
}

.jd_box {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}
