@import "../../sass/normalize6.0.scss";
@import "../../sass/base.scss";

@function p2r($size){
    @return ($size/41.4*1rem);
}
//返回顶部

.returnTop{
    font-size:p2r(50);
    position: fixed;
    bottom:0;
    right:0;
    z-index: 20000;
    color:red;
    display: none;
}

// 头部
.dl_header{
    height: p2r(44);
    background: $bgc;
    padding: 0 p2r(10);
    display: flex;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    width:100%;
    .dl_back{
        height: 100%;
        width: p2r(50);
        a{
            width: p2r(50);
            height: 100%;
            line-height: p2r(44);
            display: block;
            color:#fff;
            font-size: p2r(17);
        }
    }
    h1{
        margin: 0;
        width: p2r(414);
        height: 100%;
        line-height: p2r(44);
        text-align: center;
        font-size: p2r(20);
        color: #fff;
        font-weight: bold;
    }
    .dl_downlod{
        height: 100%;
        width: p2r(50);
         a{
            width: p2r(50);
            height: 100%;
            display: block;
            background: url('../images/header_app.png') no-repeat center center/p2r(34) p2r(34);
        }
    }
    
           
        #search_icon{
          position: absolute;
            width:p2r(50);
            height:p2r(50);
            font-size: p2r(25);
            right:p2r(0);
            top:p2r(45);
            line-height: p2r(50);
            text-align: center;
            background-color: rgba(220, 220, 220, 0.88);
            z-index: 100;
            color: gray;
            
        }
        
        
        .search{
            position: absolute;
            width:100%;
            height:p2r(50);
            top:p2r(100);
            right:0;
            background-color: rgba(220, 220, 220, 0.88);         z-index: 100;        
            display: none;
            padding:p2r(10);
            input{
              width:89%; 
              border-radius: p2r(10); 
              padding-left:p2r(20);
              outline: none;
              border: none;
              
              
            }        
        }
}
//弹出信息提示框
.message{
    width:100%;
    position: absolute;
    height:p2r(100);
    color:red;
    background-color:gray;
    z-index: 2000;
    line-height:p2r(100);
    text-align: center;
    display: none;
    
}
// 当滚动条触底，显示加载的图标
.load_Icon{
    width:100%;
    height:p2r(80);
   background-color: rgba(0, 0, 0, 0.55);
   font-size: p2r(60);
   text-align: center;
    color: #fff;
    display: none;
    position:fixed;
    bottom: 0;
    z-index: 20000;
    
}

//顶部导航栏
#low-invest {
      overflow:hidden;
      box-sizing: border-box;
      width:100%;
    .navList {
        border-color: transparent;
        width: 300%;
      
        height: p2r(50);
        box-sizing: border-box;
//      overflow: auto;
 
        li {
            height: 100%;
            width:auto !important;
                        a {
                border-color: transparent;
                color: gray;
                height: 100%;
                &:hover {
                    background-color: transparent;
                    border-color: transparent;
                    color: red;
                }
            }
        }
        li.active {
            a {
                border-color: transparent;
                border-bottom: 3px solid red;
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}
  // 导航栏对应的商品信息  
  .navTable_info {
      box-sizing: border-box;
      width:100%;
      //    font-size: p2r(16);
      .items {
          padding: p2r(10) 0;
          background-color: rgba(220, 220, 220, 0.88);
          .item {
              box-sizing: border-box;
              position: relative;
              height: p2r(160);
              display: flex;
              justify-content: space-between;
              align-items: center;
              cursor: pointer;
              background-color: #fff;
              margin-top: p2r(1);
              padding: p2r(10);
              .media{
                  height:100%;
              }
              .itemLeft {
                  height: 100%;
                  a {
                      display: block;
                      width: p2r(130);
                      height: p2r(130);
                      text-align: center;
                      img {
                          width: 100%;
                          height: 100%;
                          margin: 0 auto;
                      }
                  }
              }
              .itemText {
                  h4 {
                      font-size: p2r(16);
                      line-height: p2r(24);
                  }
                  p {
                      font-size: p2r(20);
                      line-height:p2r(18); 
                      &:nth-of-type(1) {
                          font-size: p2r(19);
                          font-size: p2r(14);
                          color: red;
                          i {
                              font-style: normal;
                          }
                          em {
                              padding: 0 p2r(5);
                          }
                          del {
                              padding: 0 p2r(5);
                              font-size: p2r(12);
                              color: gray;
                          }
                      }
                      &:nth-of-type(2) {
                          a {
                              font-size: p2r(8);
                              border: 1px dashed red;
                              color: red;
                              padding: p2r(4);
                          }
                      }
                  }
                  .bar {
                      span {
                          border: 1px solid;
                          padding: 0 p2r(20);
                          border-radius: p2r(8);
                          font-size: p2r(10);
                          color: red;
                          position: relative;
                          margin-right: p2r(10);
                          &::before {
                              content: "";
                              position: absolute;
                              width: p2r(10);
                              height: 100%;
                              background-color: red;
                              left: 0;
                              top: 0;
                              border-radius: p2r(10);
                          }
                      }
                      b {
                          color: grey;
                      }
                  }
              }
              button {
                  -webkit-tap-highlight-color: transparent;
                  position: absolute;
                  right: p2r(10);
                  font-size: p2r(10);
                  a {
                      color: #fff;
                      text-decoration: none;
                      -webkit-tap-highlight-color: transparent;
                  }
              }
          }
      }
  }
           
           
  
 
 